.qthws { 
  border-right-width: 58px;
  padding-right: 42px;
  font-size: 21px;
  margin-bottom: 34px;
  border-top-width: 7px;
  padding-left: 49px;
  font-size: 4px;
  margin-right: 19px;
  border-bottom-width: 88px;
  font-size: 91px;
  margin-right: 14px;
  padding-top: 68px;
  border-bottom-width: 95px;
  border-top-width: 40px;
  margin-bottom: 22px;
  margin-right: 62px;
  padding-top: 20px;
  padding-bottom: 94px;
}
