.qthws { 
  border-right-width: 58px;
  padding-right: 42px;
  font-size: 21px;
  margin-bottom: 34px;
  border-top-width: 7px;
  padding-left: 49px;
  font-size: 4px;
  margin-right: 19px;
  border-bottom-width: 88px;
  font-size: 91px;
  margin-right: 14px;
  padding-top: 68px;
  border-bottom-width: 95px;
  border-top-width: 40px;
  margin-bottom: 22px;
  margin-right: 62px;
  padding-top: 20px;
  border-top-width: 46px;
  margin-right: 41px;
  padding-top: 87px;
  font-size: 6px;
  line-height: 61px;
  padding-right: 50px;
  border-left-width: 20px;
  margin-right: 11px;
  border-left-width: 51px;
  padding-bottom: 88px;
  margin-top: 25px;
  margin-right: 8px;
  border-right-width: 28px;
  font-size: 28px;
  padding-bottom: 53px;
  border-top-width: 57px;
  border-top-width: 43px;
  padding-left: 47px;
  line-height: 82px;
  margin-left: 20px;
  margin-bottom: 65px;
  border-bottom-width: 91px;
  padding-left: 40px;
  margin-bottom: 28px;
  font-size: 27px;
  font-size: 49px;
  margin-right: 43px;
  border-right-width: 70px;
  margin-bottom: 7px;
  font-size: 49px;
  font-size: 20px;
  border-right-width: 22px;
  padding-right: 0px;
  line-height: 90px;
  border-right-width: 80px;
  border-right-width: 40px;
  padding-top: 42px;
  padding-top: 68px;
  padding-left: 63px;
  border-bottom-width: 90px;
  border-left-width: 72px;
  padding-top: 48px;
  border-top-width: 39px;
  border-right-width: 84px;
  line-height: 69px;
  margin-bottom: 54px;
  border-left-width: 7px;
  border-bottom-width: 31px;
  padding-right: 83px;
  margin-right: 1px;
  margin-top: 14px;
  padding-left: 40px;
  border-left-width: 0px;
  border-top-width: 7px;
  padding-right: 6px;
  padding-bottom: 13px;
  padding-right: 40px;
  border-right-width: 54px;
  margin-left: 55px;
  margin-left: 69px;
  border-top-width: 39px;
  border-bottom-width: 82px;
  padding-top: 64px;
  margin-right: 93px;
  border-bottom-width: 88px;
  padding-top: 42px;
  line-height: 94px;
  border-left-width: 1px;
  border-top-width: 10px;
  border-top-width: 37px;
  border-left-width: 76px;
  margin-right: 56px;
  font-size: 71px;
  border-bottom-width: 75px;
  border-right-width: 73px;
  padding-left: 72px;
  border-left-width: 45px;
  line-height: 64px;
  border-right-width: 92px;
  font-size: 76px;
  padding-bottom: 80px;
  margin-left: 80px;
  border-left-width: 72px;
  border-left-width: 48px;
  border-top-width: 45px;
  border-bottom-width: 94px;
  margin-bottom: 37px;
  padding-bottom: 20px;
  font-size: 31px;
  border-left-width: 54px;
  border-left-width: 74px;
  border-right-width: 79px;
  padding-left: 38px;
  border-bottom-width: 97px;
  border-right-width: 17px;
  padding-top: 69px;
  margin-right: 98px;
  font-size: 31px;
  margin-right: 2px;
  padding-left: 61px;
  border-left-width: 76px;
  margin-bottom: 94px;
  margin-top: 70px;
  margin-right: 96px;
  margin-left: 89px;
  margin-bottom: 22px;
  font-size: 34px;
  padding-bottom: 91px;
  padding-left: 92px;
  border-bottom-width: 32px;
  margin-right: 34px;
  padding-top: 11px;
  border-bottom-width: 83px;
  border-left-width: 88px;
  padding-left: 87px;
  margin-bottom: 26px;
  font-size: 52px;
  margin-top: 56px;
  padding-bottom: 36px;
  padding-bottom: 78px;
  margin-top: 22px;
}
