.larje { 
  margin-bottom: 58px;
  padding-bottom: 41px;
  margin-top: 82px;
  font-size: 93px;
  border-top-width: 33px;
  border-right-width: 66px;
  line-height: 41px;
  margin-left: 21px;
  font-size: 42px;
  font-size: 39px;
  line-height: 18px;
  border-left-width: 91px;
  padding-bottom: 92px;
  padding-left: 64px;
  padding-left: 92px;
  line-height: 61px;
  border-top-width: 56px;
  padding-right: 87px;
  padding-bottom: 9px;
  padding-bottom: 28px;
  border-bottom-width: 49px;
  padding-right: 29px;
  border-right-width: 89px;
  border-left-width: 4px;
  padding-top: 84px;
  margin-left: 99px;
  border-left-width: 13px;
  margin-bottom: 38px;
  margin-left: 96px;
  border-bottom-width: 36px;
  line-height: 56px;
  border-right-width: 17px;
  font-size: 82px;
  font-size: 52px;
  font-size: 12px;
}
