.qthws { 
  border-right-width: 58px;
  padding-right: 42px;
  font-size: 21px;
  margin-bottom: 34px;
  border-top-width: 7px;
  padding-left: 49px;
  font-size: 4px;
  margin-right: 19px;
  border-bottom-width: 88px;
  font-size: 91px;
  margin-right: 14px;
  padding-top: 68px;
  border-bottom-width: 95px;
  border-top-width: 40px;
  margin-bottom: 22px;
  margin-right: 62px;
  padding-top: 20px;
  border-top-width: 46px;
  margin-right: 41px;
  padding-top: 87px;
  font-size: 6px;
  line-height: 61px;
  padding-right: 50px;
  border-left-width: 20px;
  margin-right: 11px;
  border-left-width: 51px;
  font-size: 96px;
  margin-top: 52px;
}
