.larje { 
  margin-bottom: 58px;
  padding-bottom: 41px;
  margin-top: 82px;
  font-size: 93px;
  border-top-width: 33px;
  border-right-width: 66px;
  line-height: 41px;
  margin-left: 21px;
  font-size: 42px;
  font-size: 39px;
  line-height: 18px;
  border-left-width: 91px;
  padding-bottom: 92px;
  padding-left: 64px;
  padding-left: 92px;
  line-height: 61px;
  border-top-width: 56px;
  padding-right: 87px;
  padding-bottom: 9px;
  padding-bottom: 28px;
  border-bottom-width: 49px;
  padding-right: 29px;
  border-right-width: 89px;
  border-left-width: 4px;
  padding-top: 84px;
  margin-left: 99px;
  border-left-width: 13px;
  margin-bottom: 38px;
  margin-left: 96px;
  border-bottom-width: 36px;
  line-height: 56px;
  border-right-width: 17px;
  font-size: 82px;
  font-size: 52px;
  font-size: 12px;
  border-left-width: 14px;
  border-top-width: 23px;
  padding-left: 28px;
  padding-left: 48px;
  border-bottom-width: 18px;
  border-right-width: 93px;
  margin-bottom: 11px;
  margin-bottom: 15px;
  padding-left: 6px;
  border-bottom-width: 42px;
  font-size: 44px;
  border-left-width: 60px;
  font-size: 9px;
  padding-top: 16px;
  border-left-width: 64px;
  margin-bottom: 1px;
  line-height: 93px;
  padding-top: 11px;
  line-height: 99px;
  margin-left: 77px;
  padding-left: 68px;
  line-height: 2px;
  border-left-width: 72px;
  border-top-width: 31px;
  margin-bottom: 68px;
  padding-right: 65px;
  border-left-width: 37px;
  margin-right: 10px;
  border-bottom-width: 23px;
  line-height: 16px;
  padding-right: 0px;
  padding-top: 41px;
  border-right-width: 46px;
  font-size: 41px;
  font-size: 95px;
  border-bottom-width: 37px;
  border-right-width: 87px;
  line-height: 55px;
  padding-left: 4px;
  border-left-width: 42px;
  border-right-width: 74px;
  padding-bottom: 24px;
  padding-right: 81px;
  border-right-width: 66px;
  padding-right: 9px;
  border-bottom-width: 25px;
  padding-right: 32px;
  padding-top: 76px;
  border-top-width: 62px;
  padding-left: 24px;
  padding-left: 53px;
  margin-bottom: 11px;
  border-right-width: 48px;
  margin-right: 96px;
  border-left-width: 16px;
  padding-right: 11px;
  padding-top: 48px;
  margin-top: 82px;
  font-size: 47px;
  padding-right: 25px;
  line-height: 19px;
  padding-top: 57px;
  line-height: 29px;
  padding-top: 5px;
  border-right-width: 62px;
  margin-left: 98px;
  padding-right: 19px;
  border-left-width: 74px;
  border-left-width: 74px;
  padding-bottom: 28px;
  margin-top: 19px;
  border-bottom-width: 37px;
  line-height: 24px;
  padding-top: 22px;
  font-size: 3px;
  padding-left: 93px;
  border-right-width: 97px;
  border-top-width: 8px;
  border-right-width: 24px;
  padding-bottom: 43px;
  border-left-width: 72px;
  margin-bottom: 39px;
  padding-right: 26px;
  padding-right: 35px;
  margin-right: 60px;
  margin-top: 86px;
  margin-right: 14px;
}
